<h3><div class="cadastro1">Cadastro de Clientes!</div></h3>
<div class="cadastro">
<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Cadastrado com Sucesso!</strong>
  <button (click)="removeMessage()" type="button"  data-bs-dismiss="alert" aria-label="Close">x
  
  </button>
</div>
<form [formGroup]="addStudent" (ngSubmit)="SaveData()">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="txt" class="form-control" placeholder="Insira o seu name" formControlName="name">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input type="txt" class="form-control" placeholder="Insira o seu número" formControlName="telefone">
    </div>

    <div class="mb-3">
      <label class="form-label">Endereço</label>
      <input type="txt" class="form-control" placeholder="Insira o seu endereço" formControlName="endereco">
    </div>

    <div class="mb-3">
      <label class="form-label">Cep</label>
      <input type="txt" class="form-control" placeholder="Insira o seu cep" formControlName="cep">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Digite o seu email" formControlName="email">
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" placeholder="Digite uma senha" formControlName="password">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
