<br><h1 style="text-align: center;">Galeria</h1>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/oi.jpg">
        <img src="assets/img/oi.jpg" alt="Lights" style="width:85%"></a>
        <div class="caption">
          <p>Olá família PetLove me chamo Marcelo, e hoje eu <br>quero compartilhar com 
             vocês o dia que compramos <br>a nossa calopsita.  Sempre gostei de calopsita, minha<br> esposa é  apaixonada por aves então resolvemos <br>comprar essa  linda calopsita no dia do nosso casamento <br> e hoje ela  faz parte da nossa história! </p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/loro.jpeg">
        <img src="assets/img/loro.jpeg" alt="Nature" style="width:100%"></a>
        <div class="caption">
          <p>Olá família PetLove me chamo José, e hoje eu quero compartilhar com vocês o dia que eu encontrei esse lindo Louro.  Minha neta é apaixonada por aves, um dia brincando no parque ela encontrou esse louro machucado e pediu para levar pra casa para cuidar dele, então resolvemos ficar com ele!</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/velha.jpg">
        <img src="assets/img/velha.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove me chamo Ingrid, e Hoje eu <br>quero compartilhar com vocês o dia que eu <br>encontrei esse lindo Louro. No dia das mães os <br>meus filhos decidiu me presentear com esse<br> lindo louro. Hoje ele é alegria dessa casa!</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/cacho.jpg">
        <img src="assets/img/cacho.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove me chamo Camila, e hoje eu quero compartilhar com
            vocês o dia que eu adotei esse lindo cachorro. Estava passando por um momento muito<br> delicado  na minha vida, estava me sentindo muito só.<br> Um dia andando pela rua encontrei um filhote de cachorro<br> que estava com frio e sozinho, então  eu trouxe ele pra<br> minha casa e até hoje ele  alegra os meus dias, sempre <br>com amor e muito  carinho!</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/caoecri.jpg">
        <img src="assets/img/caoecri.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Oi me chamo Anderson, esse na foto é o meu <br> melhor amigo, ele brinca, corre, lambe e ama<br> uma bagunça kkk Obrigado por criar um site <br> aonde podemos criar e compartilhar esses<br> momentos incríveis com todos vocês!</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/caoegato.jpg">
        <img src="assets/img/caoegato.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Oi me chamo Lucimar, e quero hoje compartilhar<br>momentos com vocês. Meus animaiszinhos<br> de estimação me fazem tão feliz,sempre estão<br> dispostos a me dar carinho a todo momento e<br> lógico, eu faço o mesmo. Eu não sei o que seria<br> da minha vida sem eles.
          </p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/cavalo.jpg">
        <img src="assets/img/cavalo.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove, tudo bem? Meu nome é <br> Geronimo e gostaria de apresentar pra vocês minha<br>   égua Rosilene. Ela foi resgatada das ruas cerca de 1<br>  ano e 7 meses,com machucados e carrapatos.<br>  De começo não sabia o que fazer, mas graças a deus <br> consegui  cuidar da minha querida amiga e hoje está saudavel,bem, nutrida e sou muito feliz por isso.</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/cavalo2.jpg">
        <img src="assets/img/cavalo2.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá Familia PetLove!! minha filha Mileny sempre foi uma menina fechada, sem ânimo e solitária. Nunca soube resolver isso e como mãe isso sempre me machucou até que um belo dia ela viu um cavalo pela televisão e disse que queria muito um amigo assim, vi aqui como um milagre, logo comprei um cavalo para ela e digo que foi a maior benção da minha vida pois ela hoje é feliz ao lado do pegasos.</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/cavalo3.jpg">
        <img src="assets/img/cavalo3.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Oii família PetLove, essa aqui é samara, samara é o simbulo da minha fazenda pois foi por ela que abri um rincho para criação de mais cavalos iguais a ela. Minha missão é compartilhar com vocês minha fonte de inspiração pra vida.</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/gato1.jpg">
        <img src="assets/img/gato1.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove, vim aqui compartilhar a alegria<br> da nossa casa, nossa gatinha cinzinha, chegou aqui <br>filhotinha, e sempre se dando bem com a minha filhinha, <br>sendo um grude sempre, no dia que nossa gatinha <br>fugiu, minha filha chorou muito, e fomos procurar e <br>achamos ela na rua graças a Deus.</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/gato2.jpg">
        <img src="assets/img/gato2.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove, me chamo vanessa e moro <br>sozinha, até que um dia encontrei a douradinha, <br>debaixo do meu carro quando ia sair, ela estava <br>com fome e suja, cuidei dela e atualmente ela me<br> segue pra cima e pra baixo no apartamento, e <br>miando sempre que chego do trabalho.</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/img/gato3.jpg">
        <img src="assets/img/gato3.jpg" alt="Fjords" style="width:75%"></a>
        <div class="caption">
          <p>Olá família PetLove, essa é a minha gatinha pretinha, <br>minha modelo, muito fotogênica, a modelo da casa.<br> Pretinha já participou de vários concursos de gatinhas,<br> sendo campeã ano passado e retrasado,  sempre <br>meu orgulhozinho.</p>
        </div>
      
    </div>
  </div>
</div>