<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>PetLove
            </h6>
            <p>
             Trabalhamos para que você e seus pets tenham a melhor experiência em nosso blog, seja através dos momentos registrados e compartilhados por vocês ou pelas nossas recomendações de produtos espalhados nos mais diversos mundos: Clínicas, Petshops e Banho e Tosa.
            </p>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              PetLove
            </h6>
            <p>
              <a routerLink="/blog" class="text-reset">Blog</a>
            </p>
            <p>
              <a routerLink="/galeria" class="text-reset">Galeria</a>
            </p>
            <p>
              <a routerLink="/sobre"  class="text-reset">Sobre Nós</a>
            </p>
            <p>
              <a routerLink="/add" class="text-reset">Cadastro</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Recomendações
            </h6>
            <p>
              <a href="https://www.petz.com.br/" class="text-reset">PetShop</a>
            </p>
            <p>
              <a href="https://cellulanimal.com.br/" class="text-reset">Clínica Veterinária </a>
            </p>
            <p>
              <a href="https://wayvet.com.br/" class="text-reset">Way</a>
            </p>

            <p>
              <a href="https://landingpage.petz.com.br/banho-e-tosa/" class="text-reset">Banho e Tosa</a>
            </p>

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
            <p><i class="fas fa-home me-3"></i> Brasil, RJ 10012, BR</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              PetLove@yahoo.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +55 (21) 99575-6588 </p>
            <p><i class="fas fa-print me-3"></i> +55 (21) 3305-6870</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" routerLink="/">PetLove.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->