<div class="contato">
<h1>Contato</h1>
</div>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-7 position-relative">
      <label for="validationTooltip01" class="form-label">Nome</label>
      <input type="text" class="form-control" id="validationTooltip01" value="" required>
      <div class="valid-tooltip">
        Nome Obrigatório!
      </div>
    </div>
    <div class="col-md-7 position-relative">
      <label for="validationTooltip02" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
        Sobrenome Obrigatório!
      </div>
    </div>
      
    <div class="col-md-7 position-relative">
      <label for="validationTooltip03" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Cidade Obrigatório!
      </div>
    </div>

    <div class="col-md-7 position-relative">
      <label for="validationTooltip04" class="form-label">Estado</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Selecionar Estado..</option>
        <option>Acre (AC)</option>
        <option>Alagoas (AL)</option>
        <option>Amapá (AP)</option>
        <option>Amazonas (AM)</option>
        <option>Bahia (BA)</option>
        <option>Ceará (CE)</option>
        <option>Distrito Federal (DF)</option>
        <option>Espírito Santo (ES)</option>
        <option>Goiás (GO)</option>
        <option>Maranhão (MA)</option>
        <option>Mato Grosso (MT)</option>
        <option>Mato Grosso do Sul (MS)</option>
        <option>Minas Gerais (MG)</option>
        <option>Pará (PA)</option>
        <option>Paraíba (PB)</option>
        <option>Paraná (PR)</option>
        <option>Pernambuco (PE)</option>
        <option>Piauí (PI)</option>
        <option>Rio de Janeiro (RJ)</option>
        <option>Rio Grande do Norte (RN)</option>
        <option>Rio Grande do Sul (RS)</option>
        <option>Rondônia (RO)</option>
        <option>Roraima (RR)</option>
        <option>Santa Catarina (SC)</option>
        <option>São Paulo (SP)</option>
        <option>Sergipe (SE)</option>
        <option>Tocantins (TO)</option>
      </select>
      <div class="invalid-tooltip">
       Estado Obrigatório!
      </div>
    </div>

    <div class="col-md-7 position-relative">
      <label for="validationTooltip05" class="form-label">Cep</label>
      <input type="text" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        Cep Obrigatório!
      </div>
    </div>

    <div class="col-md-7 position-relative">
        <label for="validationTooltipUsername" class="form-label">Nome do Usúario</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
          <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          <div class="invalid-tooltip">
             Nome do Usúario Obrigatório!
          </div>
        </div>
      </div>
  
      <div class="col-md-7 position-relative">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
          <div class="invalid-tooltip">
              Email Obrigatório!
           </div>
        </div>
        <div class="col-md-7 position-relative">
          <label for="inputPassword4" class="form-label">Senha</label>
          <input type="password" class="form-control" id="inputPassword4">
          <div class="invalid-tooltip">
              Senha Obrigatório!
           </div>
        </div>
        <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />

<input type="file" />
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Fale um pouco de você e do seu pet!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar Formulário</button> 
    </div>
  </form> <br>