<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" routerLink="/blog">PetLove</a>
<ul class="nav justify-content-center"> 
  <li class="nav-item">
      <a class="nav-link active" routerLink="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/galeria">Galeria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobre">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="add">Cadastro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Fale Conosco</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list">Lista de Clientes</a>
    </li>

  </ul>   
</div>
</nav>