<h3><div class="fale">Fale Conosco</div></h3>
<div class="fale1">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="txt" class="form-control" formControlName="email" placeholder="name@example.com">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Envie uma Foto com o seu Pet!</label>
  <input class="form-control" type="file" id="formFile">
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Conte a sua história</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<br>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>


</div>
</div>
