<div class="header">
    <h1>PetLove</h1>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Cachorro com 8 meses é filhote? Conheça as fases da vida do bebê!</h2>
        <h5>Postado por PetLove, em Atualizado em Abril 28, 2023</h5>
        <div class="img"></div> <img  style="height:400px;"src="assets/img/Cao.png"> <br>
        <p>O cachorro com 8 meses é filhote, mas está prestes a se tornar um adulto. Isso acontece aos 9 e 10 meses se o cão for de uma raça considerada de pequeno porte, como Yorkshire, Maltês, Spitz Alemão, Chihuahua e Pinscher.

            Porém, se ele for de uma raça de médio porte, como o Buldogue Francês ou Inglês, Cocker Spaniel, Beagle, Dálmata e Bull Terrier, só vai se tornar um adulto em torno de 12 meses. Já os cães de grande porte, como Boxer, Labrador, Golden Retriever, Husky Siberiano e Pastor Alemão, vão deixar de ser crianças por volta dos 18 meses.
            
            Enquanto isso, os cães gigantes, como São Bernardo, Mastiff e Dogue Alemão, só serão considerados adultos após completarem 2 anos. É claro que isso não é uma regra na qual todos os cães se encaixam, por isso, observar seu peludo e mantê-lo sob acompanhamento de um médico-veterinário é muito importante para ter certeza de que ele está crescendo dentro da normalidade.</p>
      </div>
      <div class="card">
        <h2>Filhote de gato pode comer ração de gato castrado ou isso afeta seu desenvolvimento?</h2>
        <h5>Postado por PetLove, em Atualizado em Abril 27, 2023</h5>
        <div class="img2"></div> <img  style="height:400px;"src="assets/img/gato.jpg"> <br>
        <p>Por que o tipo de dieta oferecido ao filhote é tão importante?
            A importância de oferecer o tipo correto de alimento para o bebê está relacionada à alta taxa metabólica dessa fase. O adequado equilíbrio das proteínas, vitaminas, minerais, carboidratos e gorduras vai determinar a boa saúde do bichano.
            
            Além disso, o filhote gasta muito mais energia do que o gato adulto, sendo assim, sua ração possui mais calorias. Por isso, não é recomendado oferecer a ração de gatos castrados para filhotes. Agora você já sabe se filhote de gato pode comer ração de gato castrado!
            
            Qual é a diferença entre a ração para gato filhote, adulto e castrado?
            Então, o que gato filhote pode comer? Para entender por que seu gato deve comer um alimento específico para a idade dele, saiba a diferença entre as rações para gato filhote, adulto e castrado.</p>
      </div>
      <br> 
    </div>
    
    <div class="rightcolumn">
      <div class="card">
        <h2>Sobre Nós</h2>
        <div class="img4"></div> <img  src="assets/img/pet.png">
        <p>Trabalhamos para que você e seus pets tenham a melhor experiência em nosso blog</p>
      </div>
      <div class="card">
        <h3>Posts Populares</h3>
        <div class="img"></div> <img  src="assets/img/Cao.png"> <br>
        <div class="img"></div> <img  src="assets/img/gato.jpg"> <br>
         </div>
      <div class="card">
        <h3>Siga-nos</h3>
        <p><a class="link-opacity-10-hover" href="https://instagram.com/petlovebrasil?igshid=YmMyMTA2M2Y=">PetLove Brasil</a></p>
      </div>
    </div>
  </div>
